/* Variables */
$text-color: #999;
$border-color: #dbdbdb;

$button-bg-color: #00b3ee;
$button-text-color: #fff;

$alert-bg-color: #51a351;
$alert-text-color: #fff;

$shadow-color: #dbdbdb;

$error-color: rgba(241, 62, 62, 0.8);